 .btn {
    border-radius: 10px !important;
    width: 12em;

}
.submitButton {
    background-color:blue;
}

.submitButton:hover {
    background-color:rgb(4, 4, 194);
}

.submitButton:active {
    background-color: darkblue;
}

.submitButtonAlt {
    background-color: #28a745
}

.submitButtonAlt:hover {
    background-color:#2bc44e;
}
.submitButtonAlt:active {
    background-color: #1c7c33;
}

.deleteButton {
    background-color: red;
}
.deleteButton:hover {
    background-color: rgb(218, 4, 4);
}
.deleteButton:active {
    background-color: rgb(175, 20, 20);
}
.goBackButton {
    background-color: #ffc107;
}

.goBackButton:hover {
    background-color: #ffcb2d;
}
.goBackButton:active {
    background-color: #bb8c00;
}

/* NavLink selection */
.selected {
    background-color: rgb(245, 245, 245);
}



