.text-on-pannel {
  background: #fff none repeat scroll 0 0;
  height: auto;
  margin-left: 20px;
  padding: 3px 5px;
  position: absolute;
  margin-top: -47px;
  border: 1px solid #337ab7;
  border-radius: 8px;
}

.panel {
  /* for text on pannel */
  margin-top: 27px !important;
  border: 1px solid #337ab7;
  border-radius: 8px;
  width: 50%;
}

.panel-body {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  width: auto;
}

.input-group .disabled{
    color:black;
    background-color:rgb(140, 184, 150);
}

button.go-back {
    width: 20rem;font-size: 13px; 
    text-align: center;
    color: white;
    border: 1px solid #ffcb3d;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); 
    background-color: #ffcb3d;
}

button.go-back:hover{ 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
    color: #ffffff;
    background-color:#f2cb54;
 }

 button.edit-groups {
    width: 20rem;font-size: 13px; 
    text-align: center;
    color: white;
    border: 1px solid #63fab6;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); 
    background-color:  #63fab6;
}

button.edit-groups:hover{ 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
    color: #ffffff;
    background-color:#56db9fea;
 }



 span.group{
     width: 100%;
 }

 .multiselect-container>li>a>label {
    padding: 4px 20px 3px 20px;
  }

  .input-group-text{
    width: 7rem;font-size: 13px; 
    text-align: center;
    color: white;
    background-color: #4a77d4; border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); 
}

