.user-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
  }
  
  .user-front {
    transform: rotateY(0deg);
  }
  
  .user-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .user-flip:hover .user-front {
    transform: rotateY(-180deg);
  }
    
  .user-flip:hover .user-back {
    transform: rotateY(0deg);
  }

