.input-group-text{
    width: 7rem;font-size: 13px; 
    text-align: center;
    color: white;
    background-color: #4a77d4; border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); 
}

select.form-control, input.form-control{ 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
}

select.form-control:focus,input.form-control:focus  {
    background: rgba(0,0,0,0.3);
    color:white;
     box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
}
button.submit {
    width: 20rem;font-size: 13px; 
    text-align: center;
    color: white;
    background-color: #4a77d4; border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); 
    background-color: #3762bc;
}

button.submit:hover{ 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
    color: #ffffff;
    background-color: #4a77d4;
 }